header{
    height: 200px;
    background-color:  rgb(216, 155, 25);
}
nav.row{
    height: 60px;
    background-color: yellow;
}
footer{
    height: 50px;
    background-color: grey;
}
.row > article{
    min-height: 300px;
    background-color: #40E0D0;
}
.row > aside{
    min-height: 300px;
    background-color: cyan;
}